.modal {
    position: fixed;
    background-color: green;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10001;
}
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #87f3db;
    width: 50%;
    z-index: 10002;
    border: solid 3px #13034b;
}


.modal-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #13034b;
    /* background-color: #f387bf; */
    background-color: #f5a7ff;
}

.modal-left-tnav, .modal-middle-tnav, .modal-right-tnav {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
}

.modal-left-tnav {
    font-weight: bold;
    font-size: 1.5rem;
}
.modal-right-tnav {
    cursor: pointer;
    gap: 20px;
    padding: 10px;
}
.modal-right-icons {
    display: flex;
    border: 3px solid #13034b;
    border-radius: 3px;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}
.modal-right-icons:hover {
    cursor: pointer;
    background-color: #87f3db;
}

.about-me-content {
    width: 80%;
    margin: auto;
    /* border: 3px dashed black; */
    padding-bottom: 20px;
}

.about-me-os-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.about-me-specs-container {
    display: flex;
}

.about-me-specs-left, 
.about-me-specs-right {
    flex: 1; 
}

.about-me-specs-left {
    font-weight: bold;
}

.about-me-link {
    cursor: pointer;
    background-color: #f5a7ff;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    border: 3px solid black;
    border-radius: 3px;
}