.modal {
    position: fixed;
    display: none;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 300;
    pointer-events: none;
}
.modal-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #87f3db;
    width: 50%;
    z-index: 400;
    border: solid 3px #13034b;
    cursor: default;
    user-select: none;
    pointer-events: all;
}

.modal-menu {
    left: 7%;
    width: 20%;
    transform: translate(-20%, -50%);
} 

.modal-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #13034b;
    /* background-color: #f387bf; */
    background-color: #f5a7ff;
}

.modal-left-tnav, .modal-middle-tnav, .modal-right-tnav {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
}

.modal-left-tnav {
    font-weight: bold;
    font-size: 1.5rem;
}
.modal-right-tnav {
    cursor: pointer;
    gap: 20px;
    padding: 10px;
}
.modal-right-icons {
    display: flex;
    border: 3px solid #13034b;
    border-radius: 3px;
    background-color: yellow;
}
.modal-right-icons:hover {
    cursor: pointer;
    background-color: #87f3db;
}

.about-me-content {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    /* border: 3px dashed black; */
}

.about-me-os-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.about-me-specs-container {
    display: flex;
}

.about-me-specs-left, 
.about-me-specs-right {
    flex: 1; 
}

.about-me-specs-left {
    font-weight: bold;
}

.about-me-link {
    cursor: pointer;
    background-color: #f5a7ff;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 3px;
}

.about-me-link:hover {
    background-color: #87f3db;
}

.about-me-link a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; color: black;
    padding: 10px 0;
}

.web-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-height: 80vh;
    padding: 10px;
    /* overflow-y: scroll; */
}

.web-content-item {
    display: flex;
    width: 100%;
    gap: 20px;
    cursor: pointer;
    align-items: center;
}

.modal-menu-image {
    left: 40%;
    width: 30%;
    height: 80%;
    padding: 0;
}

.menu-image-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}