html {
	background-image: linear-gradient(to bottom, #6d45b0, #ffe3f8); 
	/* background-image: linear-gradient(to bottom, #6d45b0, #f5a7ff); */
	background-attachment: fixed;
	overflow: hidden;
	font-family: "Ubuntu Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-size: 3vw 3vw;
	background-position: 2vw 2vh;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0.1vw, transparent 1px),
										linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0.1vw, transparent 1px);
}

body::after {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999; /* Ensures the border is on top of other content */
	border-radius: 2vw;
	outline: 2vw solid #f5a7ff;
	outline-offset: -1vw;
	pointer-events: none; /* Prevents the border from blocking clicks */
}

.top-nav {
	background-color: white;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;

	top: 1vw;
	left: 1vw;
	width: 96%;
	padding: 10px 1vw;
	z-index: 9999;
	min-height: 40px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: default;
	width: 7vw;
	background-color: green;
	font-size: 1vw;
	word-break: break-all;
}

.blue-square {
	width: 10vw;
	height: 10vw;
	background-color: blue;
	z-index: 10;
}

.draggable {
	position: absolute;
	z-index: 10;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .container {
        font-size: 16px; 
        width: 25vw; 
        padding: 15px;
    }

    body::before {
        background-size: 30px 30px;
        background-position: 5px 5px;
    }
    
    .top-nav {
        top: 5px; 
        left: 5px;
		width: 96.5%;
    }
}